This imports all the code that is doing the work behind the scenes. Thankfully, we don't have to worry about messing with this portion to much.

In [1]:
#Setup - DO NOT TOUCH
import methods as met
import warnings
import pandas as pd
warnings.filterwarnings("ignore")

# Magic Number
This code manages the allocation of mentees to mentors in IMP, ensuring that no mentor has too many mentees. TheMagicNumber is a variable that sets the maximum number of mentees that a mentor can have across all waves of the program. For example, if TheMagicNumber is set to 4 and we are currently in wave 3, each mentor can have a maximum of 4 mentees across all three waves combined. This helps to ensure that each mentor has a fair and manageable workload. By editing TheMagicNumber, you can adjust the maximum number of mentees per mentor and customize the program to fit your needs.

In [2]:
#Can EDIT
TheMagicNumber = 2

The following cell will run the magic mentoring machine and spit out three different outputs. 
1. The schedule variable will represent what our schedule will look like once we've matched all of the students in our current wave.
2. The extras variable will represent all students that we weren't able to schedule for this current wave.
3. The mentorCapacity variable will contain all mentors and the number of students they have collected in pairs.

In [3]:
schedule, extras, mentorCapacity = met.everything(TheMagicNumber)

In [4]:
schedule

,Time,Mon(Room 1),Mon(Room 2),Mon(Room 3),Tue(Room 1),Tue(Room 2),Tue(Room 3),Wed(Room 1),Wed(Room 2),Wed(Room 3),Thu(Room 1),Thu(Room 2),Thu(Room 3),Fri(Room 1),Fri(Room 2),Fri(Room 3)
0,9,[],[],[],[Emilie],[Katherine],[],[Katherine],[],[],[Parth],[],[],[Parth],[],[]
1,10,[Yami],[Parth],[],"[Emilie, Student 29]",[Katherine],[],[Katherine],[Yami],[],[Parth],[],[],[Parth],[Yami],[]
2,11,"[Reshmi, Student 22]","[Madison, Student 13]",[Parth],"[Emilie, Student 30]",[Katherine],[Madison],"[Katherine, Student 23]","[Tiffany, Student 25]",[],"[Tiffany, Student 18]",[],[],[Parth],[],[]
3,12,"[Kate, Student 12]",[Yami],[Madison],"[Michael, Student 27]","[Katherine, Student 2]",[],"[Emma, Student 15]",[Yami],[],"[Michael, Student 24]",[Yami],[],[Trista],"[Yami, Student 6]","[Madison, Student 4]"
4,1,"[Parth, Student 28]",[Yami],"[Jazmyne, Student 8]",[Michael],[Reshmi],"[Jazmyne, Student 31]",[Emma],[Yami],[Jazmyne],[Michael],[Reshmi],[Jazmyne],[Trista],[Yami],[]
5,2,"[Trista, Student 14]","[Reshmi, Student 33]",[Toni],"[Toni, Student 26]",[Reshmi],"[Sophia, Student 7]","[Toni, Student 16]",[Emma],[],[Reshmi],"[Kate, Student 10]",[Sophia],"[Parth, Student 20]",[],[]
6,3,"[Trista, Student 17]","[Sophia, Student 11]",[Toni],[Toni],[],[],[Toni],"[Emma, Student 5]",[],[Emilie],[],[],[],[],[]
7,4,"[Yami, Student 3]",[Trista],[],[],[],[],[],[],[],[],[],[],[],[],[]

In [5]:
extras

,Name,Seminar Status,Monday,Tuesday,Wednesday,Thursday,Friday
0,Student 21,"Sec. 4: 10:00-10:50am Mondays (4/17, 4/24, 5/1...","[9, 4]","[9, 10, 11]","[9, 4]",[],"[9, 11]"
1,Student 9,"Sec. 1: 4:00-4:50pm Mondays (4/10, 4/17, 4/24,...",[],"[12, 1, 2, 3, 4]",[4],[],"[12, 1, 2, 3, 4]"
2,Student 1,"Sec. 5: 4:00-4:50pm Tuesdays (4/18, 4/25, 5/2,...","[9, 10, 11, 12, 1, 2, 3]","[12, 1, 2]","[9, 10, 2, 3, 4]",[],"[12, 1, 2]"
3,Student 19,"Sec. 1: 4:00-4:50pm Mondays (4/10, 4/17, 4/24,...","[2, 3]","[11, 12, 1, 2]","[2, 3, 4]","[10, 11, 12, 1, 2, 3, 4]","[11, 12, 1, 2]"
4,Student 32,"Sec. 3: 1:00-1:50pm Thursdays (4/13, 4/20, 4/2...","[9, 10, 11, 12, 1, 2]",[4],"[9, 10, 11, 12, 1, 2]","[2, 3, 4]","[12, 1, 2, 3, 4]"

In [6]:
mentorCapacity

{'Michael': 2,
 'Sophia': 2,
 'Toni': 2,
 'Trista': 2,
 'Tiffany': 2,
 'Katherine': 2,
 'Madison': 2,
 'Emma': 2,
 'Emilie': 2,
 'Reshmi': 2,
 'Parth': 2,
 'Yami': 2,
 'Kate': 2,
 'Jazmyne': 2}